.forgot-password {
  display: grid;
  grid-template-columns: 60% 40%;
  column-gap: 2rem;

  .forgot-password-image {
    align-self: center;
  }
}

@media (max-width: 768px) {
  .forgot-password-image {
    display: none;
  }
  .forgot-password {
    grid-template-columns: none;
  }
}
