@import './Font/font.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    font-family: 'Canaro', system-ui, sans-serif;
    height: auto;
    background-color: #f3f4f6;
  }
}
