.new-password {
  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 2rem;

  .new-password-image {
    align-self: center;
  }
}

@media (max-width: 768px) {
  .new-password-image {
    display: none;
  }
  .new-password {
    grid-template-columns: none;
  }
}
